services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped

    environment:
      SIGNUPS_ALLOWED: "true"
      TZ: "Europe/Berlin"
      DEBIAN_FRONTEND: "noninteractive"
      DOMAIN: "https://vault.sydrv.de"
      ROCKET_ADDRESS: "0.0.0.0"
      ROCKET_PORT: "80"
      ROCKET_PROFILE: "release"

    command: ["/start.sh"]

    ports:
      - "80:80"

    volumes:
      - vaultwarden-data:/data

    healthcheck:
      test: ["CMD", "/healthcheck.sh"]
      interval: 60s
      timeout: 10s

    networks:
      qnet-static-eth0-79e6cc:
        ipv4_address: 192.168.1.71

volumes:
  vaultwarden-data:
    external: true

networks:
  qnet-static-eth0-79e6cc:
    external: true

